body {
  background-image: url("../img/fundo-de-curva-azul_53876-113112.avif");
  background-repeat: none;
  background-size: 100% 100%;
  position: relative;
  height: 100vh;
  display: block;
  justify-items: center;
  font-family: 'Courier New', Courier, monospace;
}

a{
  padding: 20px;
  background-color: aliceblue;
  margin-bottom: 50px;
}

p{
  padding-top: 20px;
}

h1{
  color: black;
}
