body {
  background-image: url("../img/matematica.jpg");
  background-size: cover;
}

a{
  padding: 20px;
  background-color: aliceblue;
  margin-bottom: 50px;
}

p{
  padding-top: 20px;
}

h1{
  color: black;
}
